{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MI TIENDA</title>
    <link rel="stylesheet" href="{% static 'css/micss.css'%}">
    <script type="text/javascript" src="{% static 'mi-js.js'%}" defer>
    </script>
  </head>
  <body>
    <p>BIENVENIDO A MI TIENDA con estilo</p>
    <img src="{% static 'logo-urjc.png'%}" alt="NOPE" id="logo">
    <br>
    <button type="button" id="boton">Click me</button>
    <br>
    <p>Numero aleatorio: {{numero}}</p>
    <a href="{% static 'test1.html' %}">Más información</a>
  </body>
</html>
